# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log

# VS Code
.vscode/

# Virtual environments
venv/
env/
ENV/
.venv/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask instance folder
instance/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/